<!DOCTYPE html>
<html>
<head>
  <title>AgroTech IoT</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h2>🌱 Sistema Inteligente de Irrigação</h2>

<select onchange="mudarCultura(this.value)">
  <option value="milho">Milho</option>
  <option value="soja">Soja</option>
  <option value="cafe">Café</option>
</select>

<button onclick="ligar()">Ligar</button>
<button onclick="desligar()">Desligar</button>

<h3 id="status"></h3>

<canvas id="grafico"></canvas>

<script>
let dadosGrafico = []

async function atualizar() {
  const res = await fetch('/dados')
  const d = await res.json()

  document.getElementById("status").innerText =
    `Solo: ${d.solo}% | Temp: ${d.temp}°C | Irrigação: ${d.irrigacao}`

  dadosGrafico.push(d.solo)

  new Chart(document.getElementById("grafico"), {
    type: 'line',
    data: {
      labels: dadosGrafico.map((_, i) => i),
      datasets: [{
        label: 'Umidade do Solo',
        data: dadosGrafico
      }]
    }
  })
}

async function mudarCultura(c) {
  await fetch('/cultura', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({ cultura: c })
  })
}

async function ligar() { await fetch('/ligar') }
async function desligar() { await fetch('/desligar') }

setInterval(atualizar, 3000)
</script>

</body>
</html>
